<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opps.MyNotePad">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.opps.MyNotePad.SearchActivity"></activity>

        <receiver
            android:name="com.example.opps.MyNotePad.OneShotAlarm"
            android:process=":remote" />

        <activity android:name="com.example.opps.MyNotePad.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.opps.MyNotePad.Edit" />
    </application>

</manifest>